@import "tailwindcss";
*{
    box-sizing: border-box;
}

.tab-item {
    position: relative;
    transition: color 0.3s ease;
}

.tab-item::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #000000;
    transition: width 0.3s ease-in-out;
}

.tab-item.active::after {
    width: 100%;
}

.tab-item:hover::after {
    width: 100%;
}

.tab-item:hover {
    color: #000000;
}

.tab-item.inactive {
    color: #d1d5db;
}

.tab-item.inactive:hover {
    color: #9ca3af;
}